# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
compile_commands.json
.cache/clangd/index/grabCutDefines.hpp.68308719523532EA.idx
.cache/clangd/index/grabCut.cpp.ED5093FFAE746941.idx
